<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Diagnosis</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="/static/css/index.css" />
  </head>
  <body>
    <div class="container">
      <h1>Form Diagnosa Penyakit</h1>

      <!-- Menampilkan informasi halaman -->
      <div class="page-info">Halaman {{ page }} dari {{ total_pages }}</div>

      <!-- Form Diagnosa -->
      <form action="{{ url_for('diagnose_route') }}" method="POST">
        {% for gejala_code, gejala_name in symptoms %}
        <div class="form-group">
          <label for="{{ gejala_code }}" class="disease-label {{ gejala_code }}"
            >{{ loop.index + (page - 1) * items_per_page }}. Merasakan {{
            gejala_name }} ?</label
          >

          <div class="radio-group">
            <label class="radio-label">
              <input type="radio" name="{{ gejala_code }}" value="0" /> Tidak
              ada
            </label>
            <label class="radio-label">
              <input type="radio" name="{{ gejala_code }}" value="1" /> Sangat
              Ringan
            </label>
            <label class="radio-label">
              <input type="radio" name="{{ gejala_code }}" value="2" /> Ringan
            </label>
            <label class="radio-label">
              <input type="radio" name="{{ gejala_code }}" value="3" /> Cukup
            </label>
            <label class="radio-label">
              <input type="radio" name="{{ gejala_code }}" value="4" /> Berat
            </label>
            <label class="radio-label">
              <input type="radio" name="{{ gejala_code }}" value="5" /> Sangat
              Berat
            </label>
          </div>
        </div>

        {% endfor %}

        <!-- Menampilkan tombol Previous dan Next -->
        <div class="pagination">
          {% if page > 1 %}
          <a href="{{ url_for('index', page=page-1) }}">Previous</a>
          {% else %}
          <a href="#" class="disabled">Previous</a>
          {% endif %} {% if page < total_pages %}
          <a href="{{ url_for('index', page=page+1) }}">Next</a>
          {% else %}
          <a href="#" class="disabled">Next</a>
          {% endif %}
        </div>

        <!-- Menampilkan tombol SUBMIT hanya pada halaman terakhir -->
        {% if page == total_pages %}
        <button type="submit">SUBMIT</button>
        {% endif %}
      </form>
    </div>
  </body>
</html>
